<header>
  <img
    src="assets/img/miguel.jpg"
    alt="Dener Troquatte - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Miguel Angelo Moutinho Neto</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Aprendiz Angular, SpringBoot, TDD | Python</p>
    <p>Curitiba, Paraná, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software há 25 anos. <br/> Projetos desenvolvidos utilizando frameworks em Java e Python.<br/>
      Inteligência Artificial: modelos preditivos e LLM também fazem parte da minha jornada.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/miguel.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/miguel-angelo-de-barros-moutinho-neto-237692249/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5541999388780&text=Ol%C3%A1%20Miguel"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (41) 99938-8780</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:miguel.moutinho@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>miguel.moutinho&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
